{% extends "app/layout.html" %}

{% block content %}

<h2>Contact us</h2>


<address>
    7011 Harwin Dr.<br />
    Houston, Tx 77036<br />
    <abbr title="Phone">Tele/Phone:</abbr>
    832.518.4816
</address>
<address>
    1233 W. Lindsey Street<br />
    Norman, OK 73069<br />
    <abbr title="Phone">Tele/Phone:</abbr>
    832.518.4816
</address>


<div>
    <p><b><i></i></b></p>

    <!--consultation save as comment button down below for future use if necessary--!>
    <!--<p><a href="{% url 'consultation' %}" class="btn btn-primary btn-large">consultation</a></p>-->
    
</div>

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <h2><i></i></h2>

                <div class="form-group">
                    <label for="id_username" class="col-md-2 control-label">Business Name:</label><br />
                    <input type="text" id="fname" name="fname">
                    <div class="col-md-10">
                        {{ form.Business }}
                    </div>

                </div>
                <div class="form-group">
                    <label for="id_password" class="col-md-2 control-label">Address/Suite#:</label>
                    <input type="text" id="fname" name="fname">
                    <div class="col-md-10">
                        {{ form.Address }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="col-md-2 control-label">Phone Number:</label>
                    <input type="text" id="fname" name="fname">
                    <div class="col-md-10">
                        {{ form.Phone }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="col-md-2 control-label">Email:</label>
                    <input type="text" id="fname" name="fname">
                    <div class="col-md-10">
                        {{ form.Email }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Submit" class="btn btn-primary btn-large" />
                    </div>
                </div>
                {% if form.errors %}
                <p class="validation-summary-errors">Please enter a correct user name and password.</p>
                {% endif %}
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialConsultationForm"></section>
    </div>

    

</div>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@thginc.net">Support@thginc.net</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@thginc.net">Marketing@thginc.net</a>
</address>


    {% endblock %}
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

    {% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
    </form>

{% endblock %}


