{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron" style=" background-color: paleturquoise">
    <h1>

        <i>MARKETING SOLUTIONS</i>

    </h1>
    <p> <i>"Exprience The Results!"</i> </p>
    <p class="lead"></p>
    <p><a href="marketing" class="btn btn-primary btn-large">more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Fortune 5000 Clients</h2>
        <p>
            <i><b>"History of serving fortune 5000 companies."</b></i>
        </p>
        <p><a href="clients" class="btn btn-primary btn-large">Clients &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Strategy</h2>
        <p>
            <i><b>"Summary of marketing objectives"</b></i>
        </p>
        <p><a href="marketing" class="btn btn-primary btn-large">Strategy &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Impact</h2>
        <p>
           <b><i> "The Heller Group was included in the Fortune 5000 inc. ranking of the fasted growing private company in merica."</i></b>
        </p>
        <p><a href="services" class="btn btn-primary btn-large">Impact &raquo;</a></p>
    </div>
</div>

{% endblock %}
